body{
    font-family: "Segoe UI";
    background-color: dimgrey;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    line-height: 2em;
}

.menu a{
    text-decoration: none;
    color: orange;
    font-size: 1em;
    padding: 0.5em 1em;
}

.menu a:hover{
    background-color: orange;
    color: black;
}

li{
    list-style-type: none;
}

p{
    display: inline;
}

.inline-a{
    color: midnightblue;
    text-decoration: none;
}

.inline-a:hover{
    border-bottom: midnightblue 1px dotted;
}

.center-div{
    width: 700px;
    margin: auto;
    text-align: justify;
}

.center-div img{
    width: 23em;
    margin-right: 20px;
    display: block;
}

ul{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.center-text{
    text-align: center;
}

.center-list{
    width: max-content;
    margin: auto;
}

.errorlist{
    color: red;
}

.errors input{
    background-color: red;
}

.errors label{
    color: sandybrown;
}