.title{
    background-color: orange;
    text-align: center;
}

.kino_cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kino_card{
    text-align: center;
    border: 2px solid black;
    width: 10em;
    padding: 10px;
}

.kino_card img{
    width: 100%;
}