.title{
    background-color: orange;
    text-align: center;
}

.kino_cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kino_card{
    text-align: center;
    border: 3px solid rgb(0, 0, 0, 0);
    border-radius: 15px;
    width: 10em;
    aspect-ratio: 1 / 1.5;
    margin: 3px;
    font-size: small;
    word-break: break-all;
    overflow: hidden;
}

.kino_card:hover{
    border: orange 3px solid;
    /*border-radius: 15px;*/
}