{% extends 'index.html' %}

{% load static %}

{% block head %}
        <title>Все фильмы</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/podpiska.css' %}">
{% endblock head %}

{% block content %}
    <h2>Подписки</h2>
    {% for one in podpiska %}
        <h3 class="title">{{ one.name }}</h3>
        <div class="kino_cards">
        {% for kino in one.kino_set.all %}
                <div class="kino_card">
                    <a href="{{ kino.get_absolute_url }}" class="inline-a">
                        <img src="{{ kino.poster }}">
                        <div>{{ kino }}</div>
                    </a>
{#                    <div>({{ kino.genre }})</div>#}
{#                    {% if not user.username %}#}
{#                        <a href="{% url 'prosmotr' kino.id one.id 0 %}"><button>Смотреть</button></a>#}
{#                    {% else %}#}
{#                        <a href="{% url 'prosmotr' kino.id one.id user.id %}"><button>Смотреть</button></a>#}
{#                    {% endif %}#}
                </div>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}