{% extends 'index.html' %}
{% block content %}
    <div class="center-list">
        <h3>Имя: {{ actor.fname }}</h3>
        <h3>Фамилия: {{ actor.lname }}</h3>
        <h3>Дата рождения: {{ actor.born }}</h3>
        <h3>Страна: {{ actor.country }}</h3>
        <h3>Играл в:</h3>
        <ul>
            {% for kino in actor.kino_set.all %}
                <li><a href="{{ kino.get_absolute_url }}" class="inline-a">{{ kino }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}