{% extends 'index.html' %}

{% load static %}

{% block content %}
    <div class="center-div">
        <h2>{{ kino.title }}</h2>
        <div class="flex-row">
            <div><img src="{{ kino.poster }}"></div>
            <div>
                <h3>Год: {{ kino.year }}</h3>
                <h3>Жанр: {{ kino.genre }}</h3>
                <h3>Рейтинг: {{ kino.rating }}</h3>
                <h3>Режиссёр: <a href="{{ kino.director.get_absolute_url }}" class="inline-a">{{ kino.director }}</a>
                </h3>
                <h3>Возрастной рейтинг: {{ kino.ager }}</h3>
                <h3>Подписка: {{ kino.status }}</h3>
                <h3>Актёры:</h3>
                <ul>
                    {% for actor in kino.actor.all %}
                        <li><a href="{{ actor.get_absolute_url }}"
                               class="inline-a">{{ actor.fname }} {{ actor.lname }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div><h3>Описание: </h3><h3>{{ kino.summary }}</h3></div>
        <h3>Комментарии: </h3>
        {% if kino.comment_set.all %}
            {% for c in kino.comment_set.all %}
                <table class="comment">
                    <tr>
                        <td class="bold">{{ c.author.first_name }} {{ c.author.last_name }}</td>
                        <td>{{ c.date }}</td></tr>
                    <tr>
                        <td colspan="2">{{ c.text }}</td></tr>
                </table>
            {% endfor %}
            {% else %}
            <h4>Комментариев пока нет</h4>
        {% endif %}
        {% if user.username %}
        <form method="POST">
            {% csrf_token %}
            <div>{{ form.text.label }}</div>
            <div>{{ form.text }}</div>
            <div>{{ form.author }}</div>
            <div>{{ form.movie }}</div>
            <input type="submit" value="Отправить">
        </form>
        {% else %}
            <h4>Чтобы оставить комментарий
                <a href="{% url 'login' %}">залогиньтесь</a>
                или
                <a href="{% url 'registr' %}">зарегистрируйтесь</a>
            </h4>
        {% endif %}
    </div>
{% endblock content %}